$primaryText: white;
$secondaryText: rgba(255, 255, 255, 0.7);
$textHover: #3031af;
$backgroundColor: #3333ad;
$backgroundColorHover: #4a6ac9;
$mainBackgroundColor: #020c2f;
$secondaryMainBackgroundColor: #0c154c;
