#header {
  height: 70px;
  width: 100%;
  padding-right: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .search-container {
    display: flex;
    align-items: center;
    background: $secondaryMainBackgroundColor;
    border-radius: 8px;
    padding: 8px 20px;
    max-width: 500px;
    width: 100%;
    i {
      margin-right: 10px;
      cursor: pointer;
      font-size: 1.2rem;
    }
    input {
      font-size: 1.1rem;
      color: white;
      height: 30px;
      width: 100%;
      font-weight: 550;
      letter-spacing: 0.8px
    }
  }

  .header__nav {
    display: flex;
    align-items: center;
    &__notifications {
      margin-right: 40px;
      i {
        cursor: pointer;
        font-size: 1.25rem;
        position: relative;
        color: $secondaryText;
        &:hover {
          color: $primaryText;
        }
        span {
          background: #ff2600;
          padding: 5px;
          position: absolute;
          width: 20px;
          height: 20px;
          border-radius: 100%;
          font-size: 1.05rem;
          display: flex;
          align-items: center;
          justify-content: center;
          top: -10px;
          right: -20px;
        }
      }
    }
    &__profile img {
      object-fit: contain;
      border-radius: 100%;
      background: white;
      height: 50px;
    }
  }

}