#sidebar {
  padding: 0px 20px;
  height: 100%;
  min-width: 250px;
  max-width: 250px;
  &__logo {
    object-fit: contain;
    height: 100px;
    margin: 30px 0;
  }
  &__navigations {
    margin-top: 15px;
    font-weight: 550;
    ul li {
      padding: 10px 0;
      margin: 2px 0px;
      display: flex;
      align-items: center;
      width: 80%;
      cursor: pointer;
      font-size: 1.3rem;
      transition: all 0.2s;
      i {
        font-size: 1.6rem;
        margin-right: 15px;
      }
      &:hover {
        color: $textHover;
      }
    }
  }

  &__categories {
    margin-top: 15px;
    font-weight: 550;
    ul {
      display: flex;
      flex-direction: column;
      a {
        margin: 3px 0;
        color: $secondaryText;
        font-weight: 550;
        font-size: 1.2rem;
        padding: 10px;
        background: $backgroundColor;
        border-radius: 10px;
        cursor: pointer;
        transition: all .2s;
        &:hover {
          background: $backgroundColorHover;
          color: $primaryText;
        }
      }
    }
  }

  .sidebar__nav {
    &__title {
      margin-bottom: 10px;
      color: $secondaryText;
      font-size: 0.9rem;
    }

  }
}